@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?51765476");
  src: url("../fonts/fontello.eot?51765476#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?51765476") format("woff2"), url("../fonts/fontello.woff?51765476") format("woff"), url("../fonts/fontello.ttf?51765476") format("truetype"), url("../fonts/fontello.svg?51765476#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?51765476#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-location:before {
  content: '\e800';
}

/* '' */
.icon-phone:before {
  content: '\e801';
}

/* '' */
.icon-mail-alt:before {
  content: '\f0e0';
}

/* '' */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #f2f2f2;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  min-width: 960px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.main-navigation {
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 4px;
}
.main-navigation_logo {
  margin-right: 25px;
}
.main-navigation_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-navigation_menu li {
  margin-right: 50px;
}
.main-navigation_menu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #bb6c05;
  font-size: 18px;
  font-weight: 700;
}
.main-navigation_menu li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #cd304b;
  -webkit-transform: translateY(23px) scale(0);
          transform: translateY(23px) scale(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.main-navigation_menu li a:hover {
  color: #cd304b;
}
.main-navigation_menu li a:hover::after {
  -webkit-transform: translateY(23px) scale(1);
          transform: translateY(23px) scale(1);
}
.main-navigation_menu li a:focus {
  color: #cd304b;
  outline: none;
}
.main-navigation_menu li a:focus::after {
  -webkit-transform: translateY(23px) scale(1);
          transform: translateY(23px) scale(1);
}
.main-navigation_menu li a:active {
  color: #b2b2b2;
}
.main-navigation_menu li a:active:after {
  color: #b2b2b2;
  background-color: #b2b2b2;
  -webkit-transform: translateY(23px) scale(1);
          transform: translateY(23px) scale(1);
}
.main-navigation_info {
  margin: 0;
  padding: 0;
}
.main-navigation_info li {
  margin-right: 10px;
}
.main-navigation_info li a {
  color: #000000;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
}
.main-navigation_info li a:hover {
  color: #cd304b;
}
.main-navigation_info li a:focus {
  color: #cd304b;
}
.main-navigation_info li a:active {
  color: #b2b2b2;
}

.main {
  margin-top: 25px;
}

.slogan {
  font-size: 24px;
  font-style: italic;
}
.slogan strong {
  font-size: 32px;
  color: #bb6c05;
  font-style: normal;
}

.carousel-inner {
  margin-top: 15px;
  border-radius: 4px;
}

.advantages {
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 18px;
  color: black;
}
.advantages div {
  background-color: #e7ece9;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #bb6c05;
}
.advantages_text {
  margin-top: 10px;
}

.footer {
  margin-top: 25px;
  padding: 20px;
  background-color: #250107;
  color: #ffffff;
}
.footer h3 {
  text-align: center;
  margin-bottom: 20px;
}
.footer_info {
  margin: 0;
  padding: 0;
}
.footer_info li {
  margin-bottom: 10px;
}
.footer_info li a {
  color: #ffffff;
  text-decoration: none;
}
.footer_info li a:hover {
  color: #cd304b;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer_info li a:focus {
  color: #cd304b;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer_info li a:active {
  color: #b2b2b2;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer_info_map {
  background-color: #bb6c05;
}
