@import "colors"
@import "fontello"
@import "animation"

body
  margin: 0
  padding: 0
  font-family: 'Roboto', 'Arial', sans-serif
  background-color: $body-bg
  background-image: url("../img/bg.jpg")
  background-repeat: no-repeat
  background-position: top center

ul
  margin: 0
  padding: 0
  list-style: none

a
  text-decoration: none

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden
  position: absolute

  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0

  white-space: nowrap

  clip-path: inset(100%)
  clip: rect(0 0 0 0)
  overflow: hidden


.main-navigation
  margin-top: 30px
  background-color: $white
  border-radius: 4px
  &_logo
    margin-right: 25px
  &_menu
    display: flex
    flex-wrap: wrap
    li
      margin-right: 50px
      a
        text-decoration: none
        text-transform: uppercase
        color: $gold
        font-size: 18px
        font-weight: 700
        &::after
          content: ""
          display: block
          width: 100%
          height: 2px
          background-color: $hover-color
          transform: translateY(23px)  scale(0)
          transition: all 0.2s
        &:hover
          color: $hover-color
          &::after
            transform: translateY(23px) scale(1)
        &:focus
          color: $hover-color
          outline: none
          &::after
            transform: translateY(23px) scale(1)
        &:active
          color: $active-color
          &:after
            color: $active-color
            background-color: $active-color
            transform: translateY(23px) scale(1)
  &_info
    margin: 0
    padding: 0
    li
      margin-right: 10px
      a
        color: $base-color
        text-decoration: none
        font-size: 12px
        font-weight: 400
        &:hover
          color: $hover-color
        &:focus
          color: $hover-color
        &:active
          color: $active-color

.main
  margin-top: 25px

.slogan
  font-size: 24px
  font-style: italic
  strong
    font-size: 32px
    color: $gold
    font-style: normal

.carousel-inner
  margin-top: 15px
  border-radius: 4px

.advantages
  margin-top: 75px
  text-align: center
  text-transform: uppercase
  font-weight: 700
  line-height: 18px
  color: black
  div
    background-color: #e7ece9
    padding: 15px
    border-radius: 4px
    border: 1px solid $gold
  &_text
    margin-top: 10px

.footer
  margin-top: 75px
  padding: 20px
  background-color: #250107
  color: $white
  h3
    text-align: center
    margin-bottom: 25px
  &_info
    margin: 0
    padding: 0
    li
      margin-bottom: 10px
      a
        color: $white
        text-decoration: none
        &:hover
          color: $hover-color
          transition: all 0.2s
        &:focus
          color: $hover-color
          transition: all 0.2s
        &:active
          color: $active-color
          transition: all 0.2s

.footer_info_map
  background-color: $gold

.footer_social
  text-align: center
  font-size: 28px
  margin: 0
  padding: 0
  li
    display: inline-block

.youtube
  color: #ff0000
  &:hover
    color: $white

.instagram
  color: $white
  &:hover
    color: #ef5a42

.twitter
  color: #1da1f2
  &:hover
    color: $white

.copy
  text-align: end
  h3
    margin-bottom: 140px

.modal-map
  position: fixed
  display: none
  top: 50%
  left: 50%
  width: 970px
  height: 590px
  color: #000000
  margin-top: -295px
  margin-left: -485px
  background-color: #f8f3f0
  border: 5px solid white
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7)
  border-radius: 4px
  iframe
    position: relative
    z-index: 2
    border: none
  p
    position: absolute
    top: 0
    left: 0
    z-index: 1

.modal-close
  position: absolute
  top: -3px
  right: 7px
  width: 22px
  height: 22px
  z-index: 3
  font-size: 0
  border: 0
  cursor: pointer
  background-color: transparent
  &::before
    content: ""
    position: absolute
    width: 19px
    height: 3px

    background-color: black
    transform: rotate(45deg)
  &::after
    content: ""
    position: absolute
    width: 19px
    height: 3px

    background-color: black
    transform: rotate(-45deg)

.modal-open
  display: block
  animation: bounce 0.6s


